body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: interfaceregular, Arial, sans-serif;
}
main,
.container {
  height: 100%;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  color: #5f6163;
  text-align: center;
  font-family: interfaceregular, Arial, sans-serif;
  margin: 0 0 20px 0;
}
h2 {
  color: white;
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  max-width: 460px;
  margin: 100px 50px 0 50px;
  font-family: interfaceregular, Arial, sans-serif;
}
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 20px;
    margin: 50px 20px 0 20px;
  }
}
a {
  color: #2a6ebb;
  text-decoration: none;
  font-family: interfaceregular, Arial, sans-serif;
  margin: 0 0 20px 0;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
hr {
  border: 1px solid #f2f2f2;
}
p {
  color: #5f6163;
  font-size: 14px;
  line-height: 21px;
  margin: 20px 0;
  padding: 0;
  font-family: interfaceregular, Arial, sans-serif;
}
/* BUTTON STYLES */
button#iconBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.base-button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 16px;
  min-width: 285px;
  transition:
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.base-button.purple {
  background-color: #7e5ec4;
  color: #fff;
  padding: 15px 20px;
  margin: 0 auto 40px;
}
.base-button.white {
  background-color: #fff;
  color: #5f6163;
  border: 1px solid #cccdcd;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 48px;
  margin: 0 auto 10px;
}
.base-button.white:hover {
  background-color: #fff;
  border-color: #7d5cc6;
  color: #7d5cc6;
}
.base-button.white img {
  margin: 0 10px 0 0;
}
.base-button:hover {
  background-color: #9378ce;
}
.secondary-button {
  background-color: #e7e1f4;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #684da1;
}
.secondary-button:hover {
  background-color: #dbd3ee;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
/* CONTAINERS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* COLUMNS */
.container .col-1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .col-1 section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container .col-1 section {
  p,
  a {
    display: inline-block;
    font-weight: 500;
    line-height: 21px;
    font-size: 16px;
  }
}
.container .col-1 section p a {
  margin: 0;
}

/* MOBILE STYLES */
@media only screen and (max-width: 862px) {
  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .container .col-1 {
    width: auto;
    margin: 80px 20px 20px;
  }
  .container .col-1 section {
    flex-direction: column;
    margin: 0;
  }
  .container .col-1 form .base-button {
    min-width: 100%;
    line-height: 21px;
  }
  .container .col-1 form fieldset > p {
    text-align: center;
  }
  .container .col-2 {
    width: auto;
    display: none;
  }
}
/* DESKTOP STYLES  */
@media only screen and (min-width: 862px) {
  .container {
    flex-direction: row;
    column-gap: 50px;
  }
  .container .col-2 {
    display: flex;
    width: 40%;
  }
  .container .col-1 {
    margin: 0 0 0 50px;
  }
  .container .col-1 section {
    margin: 40px 0 80px;
  }
  .container .col-1 section img {
    padding: 0 20px 0 0;
  }
}
.container .col-2 {
  overflow: hidden;
  background-color: #15375e;
  padding: 0 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .col-2 img {
  margin-top: 130px;
  max-width: 100%;
  height: auto;
}

/* FORM STYLES */
fieldset {
  border: none;
  padding: 0;
}
label {
  color: #5f6163;
  font-size: 16px;
  line-height: 21px;
}
.generic-error {
  border: 1px solid #cb2331;
  padding: 15px;
  width: fit-content;
  display: block;
  margin: 0 0 20px 0;
  color: #cb2331;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  max-width: 391px;
}
.error-email {
  color: #cb2331;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 25px;
  display: block;
}
.visibility-hidden-form {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
form input {
  border: 1px solid #cccdcd;
  border-radius: 3px;
  height: 44px;
  box-sizing: border-box;
  padding: 20px 10px;
  margin: 10px 0 25px;
  width: -webkit-fill-available;
  width: -moz-available;
  outline: none;
  color: #5f6163;
  font-size: 16px;
}
form input:focus {
  border: 2px solid #2a6ebb !important;
}
form input:hover {
  -webkit-box-shadow: 0 2px 0 #cccdcd;
  box-shadow: 0 2px 0 #cccdcd;
}
form label.error > span {
  top: -92px;
}
form input.error-input {
  margin: 7px 0 10px 0;
}
form label > span {
  cursor: pointer;
  float: right;
  position: relative;
  top: -57px;
  right: 10px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  form input {
    width: 100%;
  }
}
